@model AddEditSnippetViewModel

<link rel="stylesheet" href="~/tagify/tagify.css" />
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<h1>Add Snippet Page</h1>

<form asp-action="AddSnippet" asp-controller="Home" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=@Model.Snippet.Name>Snippet Name</label>
        <input asp-for=@Model.Snippet.Name class="form-control">
    </div>

    <div class="form-group">
        <label>Tags</label>
        <input name="basic" class='form-control' placeholder='write some tags'>
    </div>

    <div class="form-group">
        <label for="editor">Code</label>
        <input type="hidden" id="hidden_editor" asp-for=@Model.Snippet.Code />

        <div style="position: relative; min-height: 300px;">
            <div id="editor">@Model.Snippet.Code</div>
        </div>
    </div>

    <input type="hidden" asp-for=@Model.Snippet.SnippetId />

    <button type="submit" class="btn btn-primary">Create Snippet</button>
    <a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary">Cancel</a>
</form>

<script src="~/tagify/tagify.min.js"></script>
<script src="~/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var input = document.querySelector('input[name=basic]');
    // initialize Tagify on the above input node reference
    new Tagify(input, {
        delimiters: ",| "
    })

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");

    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
    });
</script>