@{
    @using CodeSnippets.Data.Models;
    ViewData["Title"] = "Home Page";
}


@model List<Snippet>
<div class="container mt-4">
    <div class="row">

        @foreach (var snippet in Model)
        {
            <div class="col-auto mb-3">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Home" asp-action="UpdateSnippet" asp-route-id="@snippet.SnippetId">@snippet.Name</a></h5>
                        <p class="card-text"><pre><code>@snippet.Code</code></pre></p>
                        <a asp-controller="Home" asp-action="UpdateSnippet" asp-route-id="@snippet.SnippetId">thing</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<a asp-controller="Home" asp-action="AddSnippet" class="btn btn-outline-primary">Add Snippet</a>